:root {
  --color-white: #fff;
  --color-scrolled: #0078ff;
  --color-scrolled-second: #2b81e2;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  background-color: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #1e1e1e;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

span {
  color: var(--color-white);
}

h1 {
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 50px;
}

h1 {
  text-align: center;
  color: white;
}

h2,
h3,
h4,
h5,
h6 {
  color: #1e1e1e;
}

ul li {
  list-style: none;
}

img {
  width: 100%;
}

.contenedor {
  margin: 0 15px;
}

@media (min-width: 921px) {
  .contenedor {
    max-width: 1080px;
    margin: 0 auto;
  }
}

.flex,
.c-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex.flex-column,
.c-flex.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex.justy-center,
.c-flex.justy-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex.justy-between,
.c-flex.justy-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex.align-center,
.c-flex.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-flex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.box-shadow {
  margin-top: 4rem;
  padding: 3rem;
  background-color: var(--color-white);
  margin-bottom: 3rem;
}

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.8;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .500rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

.btn-primary {
  color: var(--color-white);
  background-color: #0d6efd;
  border-color: #0d6ef0;
}

.btn-primary:hover {
  color: var(--color-white);
  background-color: #0b5ed7;
  border-color: #0a58ca;
}

.title-1 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.title-2 {
  text-align: center;
  font-size: 2rem;
  position: relative;
  margin: 2rem auto 3rem auto;
}

.title-2:before {
  content: '';
  position: absolute;
  height: 3px;
  background-color: var(--color-scrolled);
  width: 100px;
  bottom: -12px;
}

.title-3 {
  padding-bottom: 20px;
  font-size: 1.2rem;
}

.title-1.margin,
.title-2.margin {
  margin: 3.5rem auto;
}

@media (min-width: 768px) {
  .title-1.margin {
    margin: 2rem auto 5rem auto;
  }
  .title-2 {
    margin: 0 auto;
  }
}

.subtitle-1,
.subtitle-2 {
  color: #4e4e4e;
}

.subtitle-1 {
  margin: 2rem auto;
  text-align: center;
}

@media (min-width: 768px) {
  .subtitle-1.no-margin,
  .title-2.no-margin {
    text-align: left;
  }
}

.divisor {
  width: 40px;
  height: 5px;
  background-color: var(--color-scrolled);
  margin: 0 auto;
}

.margin {
  margin: 6rem auto;
}

.margin-mini {
  margin: .35rem;
}

@media (min-width: 768px) {
  .margin-mini {
    margin: 1rem;
  }
}

.padding {
  padding: 3rem 0;
}

@media (min-width: 768px) {
  .padding {
    padding: 4.5rem 0;
  }
}

.t-black {
  color: black;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 40px 0 7px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

nav .logo {
  color: var(--color-white);
  font-size: 35px;
  font-weight: 600;
}

nav .menu-btn i {
  color: var(--color-white);
  font-size: 22px;
  cursor: pointer;
  display: none;
}

@media (min-width: 921px) {
  nav {
    padding: 0;
  }
}

nav ul li {
  -webkit-transition: all 2s;
  transition: all 2s;
  position: relative;
}

nav ul li a {
  position: relative;
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  margin: 0px 15px;
  padding: 10px 0;
  border-radius: 5px;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

nav ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: var(--color-white);
  height: 2px;
  border-radius: 2px;
}

nav ul li a:hover, nav ul li a.active {
  color: var(--color-white);
  z-index: 1;
}

nav ul li a:hover:after, nav ul li a.active:after {
  width: 100%;
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

div.fixed {
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 20px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

div.fixed.scrolled {
  top: 0px;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

div.fixed.scrolled.checked {
  background: var(--color-white);
}

div.fixed.scrolled nav .logo,
div.fixed.scrolled nav ul li a,
div.fixed.scrolled nav .menu-btn i,
div.fixed.scrolled nav ul li a:hover,
div.fixed.scrolled nav ul li a.active {
  color: var(--color-scrolled);
}

div.fixed.scrolled nav ul li a:hover::after,
div.fixed.scrolled nav ul li a.active::after {
  background-color: var(--color-scrolled);
}

input[type="checkbox"] {
  display: none;
}

@media (max-width: 920px) {
  nav .menu-btn i {
    display: block;
  }
  nav ul {
    position: fixed;
    top: 80px;
    left: -100%;
    background: #eceff9;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  nav ul li {
    padding-left: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  nav ul li a {
    width: 100%;
    padding: 30px 0;
    margin-left: -100%;
    font-size: 20px;
    -webkit-transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  nav ul li:hover {
    background-color: #0a57ca15;
  }
  #click:checked ~ .menu-btn i:before {
    content: "\f00d";
  }
  #click:checked ~ ul {
    left: 0;
  }
  #click:checked ~ ul li a {
    margin-left: 0px;
  }
}

.hero {
  height: 100vh;
  background-image: url(../img/hero.jpg);
}

.hero-2 {
  height: 123vh;
  background-attachment: fixed;
  background-image: url(../img/hero2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-3 {
  height: 150vh;
  position: relative;
  background-image: url(../img/hero3.jpg);
}

.hero,
.hero-3 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right top;
}

@media (min-width: 507px) {
  .hero-2 {
    height: 80vh;
  }
}

@media (min-width: 768px) {
  .hero,
  .hero-3 {
    background-position: center center;
  }
  .hero-2 {
    height: 90vh;
  }
}

@media (min-width: 977px) {
  .hero-2 {
    height: 80vh;
  }
}

span.subtitle-1 {
  color: #4e4e4e;
}

p#dev-text {
  height: 20px;
  color: var(--color-white);
  font-size: 1.5rem;
  font-weight: 300;
}

span.typed-cursor {
  font-size: 23px;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-photo {
  width: 200px;
  height: 250px;
  padding: .25rem;
  margin-bottom: 2rem;
  background-color: var(--color-white);
  border: 1px solid #dee2e6;
  border-radius: .25rem;
  max-width: 100%;
  height: auto;
}

.about {
  display: block;
}

@media (min-width: 768px) {
  .about {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 3rem;
            column-gap: 3rem;
  }
}

.grid-skills {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(210px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  -webkit-column-gap: 2.5rem;
          column-gap: 2.5rem;
}

.grid-skills.mega {
  -ms-grid-columns: (minmax(310px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  row-gap: 2.5rem;
}

.card-skills {
  background-color: var(--color-white);
  padding: 2.5rem 1.3rem;
  border-radius: 1rem;
}

.card-skills.square {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0;
  padding: 0;
}

.able-icons {
  width: 75px;
  height: 75px;
  margin: 20px;
  padding: 10px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 7px var(--color-scrolled);
          box-shadow: 0 0 0 7px var(--color-scrolled);
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.able-icons:hover {
  -webkit-box-shadow: 0 0 0 9px var(--color-scrolled-second);
          box-shadow: 0 0 0 9px var(--color-scrolled-second);
}

.able-icons.mini {
  width: 45px;
  height: 45px;
  -webkit-box-shadow: 0 0 0 3px var(--color-scrolled);
          box-shadow: 0 0 0 3px var(--color-scrolled);
}

.able-icons.mini:hover {
  -webkit-box-shadow: 0 0 0 3px var(--color-scrolled-second);
          box-shadow: 0 0 0 3px var(--color-scrolled-second);
}

.service-icon {
  margin: 0 auto;
  width: 107px;
  height: 107px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  position: relative;
}

.service-icon svg:nth-child(2) {
  width: 37px;
  position: absolute;
  top: -10;
  left: -50;
}

.descripcion {
  padding: 35px 20px;
}

.descripcion a {
  font-size: 1rem;
  color: #0062d3;
  margin-left: 5px;
}

.card-body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 1.25rem;
  position: relative;
}

.card-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  text-align: center;
  overflow: hidden;
  top: -16px;
  left: 15px;
  right: 15px;
}

.card-category > a {
  z-index: 500;
  font-weight: 500;
  font-size: 0.67em;
  padding: 10px;
  color: var(--color-white);
  background-color: var(--color-scrolled);
  border-radius: 4px;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.card-category > a:hover {
  background-color: #1b5f97;
}

#fab {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 18px;
  bottom: 18px;
  width: 48px;
  height: 48px;
  color: white;
  position: fixed;
  cursor: pointer;
  border-radius: 50%;
  background: var(--color-scrolled);
  -webkit-transition: all 0s, opacity 1.5s ease-in;
  transition: all 0s, opacity 1.5s ease-in;
}

@media (min-width: 768px) {
  #fab {
    width: 40px;
    height: 40px;
  }
}

#fab:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.overlay-hover {
  position: relative;
  width: 100%;
  color: #ffffff;
  text-align: left;
  background-color: #000000;
  font-size: 16px;
}

.overlay-hover * {
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.overlay-hover figcaption {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  padding: 20px 30px;
}

.overlay-hover:hover img,
.overlay-hover:hover div, .overlay-hover.hover img,
.overlay-hover.hover div {
  opacity: 0.4;
}

.overlay-hover:hover figcaption, .overlay-hover.hover figcaption {
  opacity: 1;
}

.overlay-hover h3 {
  color: white;
  margin: 0 0 5px;
  font-weight: 700;
  text-transform: uppercase;
}

.overlay-hover p {
  font-size: 0.8em;
  font-weight: 500;
  margin: 0 0 15px;
}

.tiny-icon {
  width: 16px;
  height: 16px;
}

.mini-icon {
  width: 24px;
  height: 24px;
  fill: #4e4e4e;
}

.norm-icon {
  width: 32px;
  height: 32px;
}

.list-ico {
  line-height: 2;
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px;
  background-color: black;
  opacity: .64;
}

.footer p {
  z-index: 5px;
  margin: 0;
  font-weight: bold;
  color: #dddddd;
}

.footer p span {
  color: var(--color-scrolled);
}
